<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><span class="manage">{{localisationText[language].manage}}</span> <span class="compaign">
          {{localisationText[language].compaigns}}</span> </h1>
      <div class="col-sm-12 text-center">
        <label>{{localisationText[language].selectLanguage}}:&nbsp;</label>
        <select [(ngModel)]="language" (change)="changeLanguage(language)">
          <option value="en">En</option>
          <option value="fr">Fr</option>
        </select>
      </div>
      <div class="nav-center">
        <ul class="nav nav-pills text-center">
          <li class="active"><a data-toggle="pill" (click)="showTab('upcoming')"
              href="#upcoming">{{localisationText[language].tabheading1}}</a>
          </li>
          <li><a data-toggle="pill" (click)="showTab('live')"
              href="#live">{{localisationText[language].tabheading2}}</a></li>
          <li><a data-toggle="pill" (click)="showTab('past')"
              href="#past">{{localisationText[language].tabheading3}}</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="upcoming" class="tab-pane fade in active">
          <table class="table">
            <thead>
              <tr>
                <th>{{localisationText[language].date}}</th>
                <th>{{localisationText[language].compaign}}</th>
                <th>{{localisationText[language].view}}</th>
                <th>{{localisationText[language].action}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="statusData?.length > 0">
                <tr *ngFor="let compaign of statusData">
                  <td (click)="showModal(compaign)">{{compaign.scheduleDate}}<br>{{compaign['daysDiff_'+ language]}}
                  </td>
                  <td (click)="showModal(compaign)">
                    <div class="col-sm-2 col-xs-12 col-md-1 title"><img src="../assets/compaign.png" /></div>
                    <div class="col-xs-12 col-sm-10 col-md-11 text-left">{{compaign.title}}<br>{{compaign.locale}}</div>
                  </td>
                  <td (click)="showModal(compaign)" class="text-center price"><span class="badge">$+</span><br>
                    {{localisationText[language].viewPrice}}</td>
                  <td (click)="showDateModal(compaign)" class="text-center"><span class="csv"><i title="CSV"
                        class="fa fa-file-text-o"></i></span>
                    <span class="chart"><i title="Reports" class="fa fa-bar-chart"></i></span>
                    <span class="schedule"><i title="Schedule Again" class="fa fa-calendar"></i></span>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="statusData?.length == 0">
                <td colspan=4>No compaign is scheduled for today</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="live" class="tab-pane fade">
          <table class="table">
            <thead>
              <tr>
                <th>{{localisationText[language].date}}</th>
                <th>{{localisationText[language].compaign}}</th>
                <th>{{localisationText[language].view}}</th>
                <th>{{localisationText[language].action}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="statusData?.length > 0">
                <tr *ngFor="let compaign of statusData">
                  <td (click)="showModal(compaign)">{{compaign.scheduleDate}}<br>{{compaign['daysDiff_'+ language]}}
                  </td>
                  <td (click)="showModal(compaign)">
                    <div class="col-sm-2 col-xs-12 col-md-1 title"><img src="../assets/compaign.png" /></div>
                    <div class="col-xs-12 col-sm-10 col-md-11 text-left">{{compaign.title}}<br>{{compaign.locale}}</div>
                  </td>
                  <td (click)="showModal(compaign)" class="text-center price"><span class="badge">$+</span><br>
                    {{localisationText[language].viewPrice}}</td>
                  <td (click)="showDateModal(compaign)" class="text-center"><span class="csv"><i title="CSV"
                        class="fa fa-file-text-o"></i></span>
                    <span class="chart"><i title="Reports" class="fa fa-bar-chart"></i></span>
                    <span class="schedule"><i title="Schedule Again" class="fa fa-calendar"></i></span>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="statusData?.length == 0">
                <td colspan=4>No compaign is scheduled for today</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="past" class="tab-pane fade">
          <table class="table">
            <thead>
              <tr>
                <th>{{localisationText[language].date}}</th>
                <th>{{localisationText[language].compaign}}</th>
                <th>{{localisationText[language].view}}</th>
                <th>{{localisationText[language].action}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="statusData?.length > 0">
                <tr *ngFor="let compaign of statusData">
                  <td (click)="showModal(compaign)">{{compaign.scheduleDate}}<br>{{compaign['daysDiff_'+ language]}}
                  </td>
                  <td (click)="showModal(compaign)">
                    <div class="col-sm-2 col-xs-12 col-md-1 title"><img src="../assets/compaign.png" /></div>
                    <div class="col-xs-12 col-sm-10 col-md-11 text-left">{{compaign.title}}<br>{{compaign.locale}}</div>
                  </td>
                  <td (click)="showModal(compaign)" class="text-center price"><span class="badge">$+</span><br>
                    {{localisationText[language].viewPrice}}</td>
                  <td (click)="showDateModal(compaign)" class="text-center"><span class="csv"><i title="CSV"
                        class="fa fa-file-text-o"></i></span>
                    <span class="chart"><i title="Reports" class="fa fa-bar-chart"></i></span>
                    <span class="schedule"><i title="Schedule Again" class="fa fa-calendar"></i></span>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="statusData?.length == 0">
                <td colspan=4>No compaign is scheduled for today</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div id="compaignDetailModal" class="modal fade" role="dialog" *ngIf="compaignDetail && compaignDetail.title">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{compaignDetail.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{localisationText[language].title}}: {{compaignDetail.title}},{{compaignDetail.locale}}</p>
          <p>{{localisationText[language].scheduled}}: {{compaignDetail.scheduleDate}},
            {{compaignDetail['daysDiff_'+ language]}}</p>
          <p>{{localisationText[language].price}}: {{compaignDetail.price}}</p>
        </div>
      </div>

    </div>
  </div>
  <div id="dateModal" class="modal fade" role="dialog" *ngIf="compaignDetail && compaignDetail.title">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{compaignDetail.title}}</h4>
        </div>
        <div class="modal-body">
          <label>{{localisationText[language].selectDate}}:&nbsp;</label>
          <input type="date" [(ngModel)]="scheduledate" id="start" id="compaignDate" name="compaignDate" value=""
            min="{{today}}" max="2040-12-31">
        </div>
        <div class="modal-footer">
          <button type="button" (click)="scheduleCompaign(compaignDetail,scheduledate)"
            class="btn btn-primary">{{localisationText[language].submit}}</button>
          <button type="button" class="btn btn-default"
            data-dismiss="modal">{{localisationText[language].close}}</button>
        </div>
      </div>

    </div>
  </div>
